body {
    background-color: antiquewhite;
    padding: 15px;
    text-align: center;
    font-size: 30px;
}

header {
    width: 80%;
    margin: auto;
    background-color: aquamarine;
}

section {
    width: 80%;
    margin: 10px auto;
    background-color: rgb(90, 111, 150);
    padding: 10px;
}

.container{
    border: solid black 3px;
    background-color: chartreuse;
    width: 200px;
    height: 200px;
    margin: 6px auto;
    padding: 5px;
}

#box1{
    overflow: scroll;
}

#box2{
    overflow: hidden;
}

#box3{
    overflow: auto;
}

#box4{
    overflow: clip;
}

#box5{
    overflow: visible;
}
